<template>
  <div>
    <v-row>
      <v-col cols="12" sm="8" offset="2">
        <v-card
            elevation="4"
            outlined>
          <v-card-title
            class="py-10">
            <h1>About NBA Stats</h1>
          </v-card-title>
          <v-card-text class="text-left black--text">
            <p>This platform is the result of an academic project, carried out by two students:
            <ul>
              <li><a href="mailto:jean.demeusy@master.hes-so.ch">Demeusy Jean</a></li>
              <li><a href="mailto:loic.guibert@master.hes-so.ch">Loïc Guibert</a></li>
            </ul>

            <p>This project is part of the <i>Information Visualization</i> course taught by <a href="mailto:david.grunenwald@he-arc.ch">Prof. David Grunenwald</a> in the Master HES-SO Engineering with the Data Science orientation.</p>
            <p>The dataset come from the <a href="https://www.nba.com/stats/">official database of the NBA</a>.</p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

  </div>
</template>

<script>
export default {
  name: "PageAbout"
}
</script>

<style scoped>
p {
  font-size: 1.2em;
}
</style>