<template>
  <div>
    <v-card
        elevation="4"
        outlined>
      <v-row no-gutters justify="space-between" align="center" class="px-6 pt-3 grey--text">
        <v-col cols="12" md="2">
          Enable comparison
        </v-col>
        <v-divider
            class="pt-3"
            vertical
        ></v-divider>
        <v-col cols="12" md="3">
          <span class="mr-1">Shots types</span>
          <v-tooltip right>
            <template v-slot:activator="{ on, attrs }">
              <v-icon
                  color="primary"
                  dark
                  v-bind="attrs"
                  v-on="on"
              >
                mdi-help-circle-outline
              </v-icon>
            </template>
            <span>Total: all shots made in position, successful or missed<br>Success: only successful shots</span>
          </v-tooltip>
        </v-col>
        <v-divider
            class="pt-3"
            vertical
        ></v-divider>
        <v-col cols="12" md="3">
          Active Season
        </v-col>
        <v-divider
            class="pt-3"
            vertical
        ></v-divider>
        <v-col cols="12" md="2">
          Bins size
        </v-col>
        </v-row>
        <v-row no-gutters justify="space-between" align="center" class="px-6">
        <v-col cols="12" md="2" class="justify-space-between">
          <v-switch
            v-model="comparison"
            inset
          ></v-switch>
        </v-col>
          <v-divider
              class="mb-3"
              vertical
          ></v-divider>
        <v-col cols="12" md="3">
          <v-tabs fixed-tabs color="primary" v-model="selectedActivePoints">
            <v-tab key="null" style="display: none"></v-tab>
            <v-tab key="total">Total</v-tab>
            <v-tab key="success">Success</v-tab>
          </v-tabs>
        </v-col>
          <v-divider
              class="mb-3"
              vertical
          ></v-divider>
        <v-col cols="12" md="3">
          <v-tabs fixed-tabs color="primary" v-model="selectedSeason">
            <v-tab key="null" style="display: none"></v-tab>
            <v-tab key="2017-18">2017-18</v-tab>
            <v-tab key="2018-19">2018-19</v-tab>
            <v-tab key="2019-20">2019-20</v-tab>
          </v-tabs>
        </v-col>
          <v-divider
              class="mb-3"
              vertical
          ></v-divider>
        <v-col cols="12" md="2">
          <v-slider
            v-model="selectedBinSize"
            hide-details
            inverse-label
            step="1"
            max="15"
            min="5"
          ></v-slider>
        </v-col>
      </v-row>
    </v-card>
    <v-container class="px-0">
      <v-row justify="center">
        <v-col cols="12" md="6">
          <HalfCourt role="firstSelection"> </HalfCourt>
        </v-col>

        <v-col cols="12" md="6" v-if="comparison">
          <HalfCourt role="secondSelection"> </HalfCourt>

        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import HalfCourt from "@/components/modules/HalfCourt";

import { mapActions, mapGetters } from "vuex";

export default {
  name: "PageShoots",

  components: {
    HalfCourt,
  },

  methods: {
    ...mapActions(["setComparison", "setSeason", "fetchAllData", "setBinSize", "setActivePoints"]),
  },

  computed: {
    // Vuex getters for centralized data
    ...mapGetters({
      isComparisonActive: "isComparisonActivated",
      seasons: "getSeasons",
      activeSeason: "getActiveSeason",
      teams: "getTeams",
      binSize: "getBinSize",
      activePoints: "getActivePoints",
    }),
    comparison: {
      get() {
        return this.isComparisonActive
      },
      set(value) {
        this.setComparison(value)
      },
    },

    selectedSeason: {
      get() {
        switch (this.activeSeason) {
          case "2017-18":
            return 1
          case "2018-19":
            return 2
          case "2019-20":
            return 3
          default:
            return 0
        }
      },
      set(value) {
        let season = null

        switch (value) {
          case 1:
            season = "2017-18"
            break
          case 2:
            season = "2018-19"
            break
          case 3:
            season = "2019-20"
            break
          default:
            season = 0
        }
        if (Object.entries(this.activeSeason).length === 0) {
          this.fetchAllData(season);
        }
        this.setSeason(season);
      },
    },

    listYears: {
      get() {
        return this.seasons;
      },
    },

    selectedBinSize: {
      get() {
        return this.binSize
      },
      set(value) {
        this.setBinSize(value)
      }
    },

    selectedActivePoints: {
      get() {
        switch (this.activePoints) {
          case "total":
            return 1
          case "success":
            return 2
          default:
            return 0
        }
      },
      set(value) {

        let activePoints = null

        switch (value) {
          case 1:
            activePoints = "total"
            break
          case 2:
            activePoints = "success"
            break
          default:
            activePoints = 0
        }
        this.setActivePoints(activePoints)
      }
    }
  },
};
</script>

<style>
.v-input--selection-controls__input {
  margin: 0 auto !important;
}
</style>