<template>
  <div>
    <v-card class="mx-auto" elevation="4" outlined>
      <v-card-actions class="pa-0">
        <v-tabs fixed-tabs color="primary" v-model="activeMode">
          <v-tab key="null" style="display: none"></v-tab>
          <v-tab key="league">League</v-tab>
          <v-tab key="team">Team</v-tab>
          <v-tab key="player">Player</v-tab>
        </v-tabs>
      </v-card-actions>

      <v-autocomplete
        v-if="activeMode >= 2"
        v-model="activeObject"
        :items="listObjects"
        item-text="name"
        item-value="id"
        outlined
        dense
        label="Select the data..."
        padding="8px"
        style="padding-bottom: 0px"
      ></v-autocomplete>

      <v-autocomplete
        v-else
        outlined
        dense
        disabled
        label="Disabled"
        padding="8px"
        style="padding-bottom: 0px"
      ></v-autocomplete>

      <v-card-text>
        <div>
          <h2 class="text-left mb-3">Field location</h2>
          <v-row cols="12" class="pb-0">
            <v-col cols="12" md="2" class="text-left"> Lower </v-col>
            <v-col cols="12" md="2" offset-sm="8" class="text-right">
              Higher
            </v-col>
          </v-row>
          <v-row cols="12" class="mb-3 mt-0 pt-0">
            <v-col cols="12" md="12" class="center mt-0 pt-0">
              <v-img :src="require('@/assets/gradient_band.png')" />
            </v-col>
          </v-row>
        </div>
        <BubbleChart
          class="align-center pa-0 align-center"
          type="matrix"
          :chartdata="this.dataGraph"
          :options="this.options"
          :style="{
            'background-image': `url(${require(`@/assets/path31.png`)})`,
            'background-repeat': 'no-repeat',
            'background-size': 'contain',
          }"
        />
        <v-divider class="mb-7"> </v-divider>
        <Statistics :role="this.role"> </Statistics>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import BubbleChart from "@/components/charts/bubble"
import Statistics from "@/components/modules/Statistics";
import { mapGetters, mapActions } from "vuex"

export default {
  name: "HalfCourt",

  components: {
    BubbleChart,
    Statistics
  },

  props: ["role"],

  data: function () {
    return {
      options: {
        scales: {
          yAxes: [
            {
              alignToPixels: true,
              ticks: {
                min: -69,
                max: 417,
                suggestedMax: 417,
                beginAtZero: false,
                display: false,
              },
              gridLines: {
                display: false,
                drawBorder: false,
              },
            },
          ],
          xAxes: [
            {
              alignToPixels: true,
              ticks: {
                min: -250,
                max: 250,
                suggestedMax: 250,
                beginAtZero: false,
                display: false,
              },
              gridLines: {
                display: false,
                drawBorder: false,
              },
            },
          ],
        },
        hover: { mode: null },
        legend: { display: false },
        maintainAspectRatio: true,
        responsive: true,
        animation: { duration: 0 },
        tooltips: {
          callbacks: {
            label: function (ttItem, data) {
              let item = data.datasets[ttItem.datasetIndex].data[ttItem.index]
              return item.tooltip
            },
          },
        },
      },
    }
  },

  methods: {
    ...mapActions(["setFirstSelection", "setSecondSelection"]),

    round_up: function (value, factor) {
      return Math.round(value / factor - 0.5) * factor
    },

    indexOfObject: function (obj, list) {
      for (let i = 0; i < list.length; i++) {
        if (list[i].x == obj.x && list[i].y == obj.y) {
          return i
        }
      }

      return -1
    },

    jsonArrayToScatterData: function (data) {
      let list = []
      let madeCounts = []
      let missedCounts = []

      data.forEach((row) => {
        let made = row[6]
        var new_data = {
          x: this.round_up(row[4], this.binSize),
          y: this.round_up(row[5], this.binSize),
        }

        let idx = this.indexOfObject(new_data, list)
        if (idx != -1) {
          madeCounts[idx] += made
          missedCounts[idx] += 1 - made
        } else {
          list.push(new_data)
          madeCounts.push(made)
          missedCounts.push(1 - made)
        }
      })

      list.forEach((point, index) => {
        let total = 0

        if (this.activePoints === "total") {
          total = madeCounts[index] + missedCounts[index]
          point.count = Math.log(total);
          point.tooltip = `${total} shots`

        } else {
          total = madeCounts[index]
          point.count = Math.log(total + 1)
          point.tooltip = `${(100 * madeCounts[index] / (madeCounts[index] + missedCounts[index])).toFixed(2)}% shots successful`
        }

        point.r = this.binSize / Math.SQRT2

      })

      return list
    },
  },

  computed: {
    ...mapGetters({
      activeSeason: "getActiveSeason",
      players: "getPlayers",
      teams: "getTeams",
      league: "getLeagues",
      firstSelection: "getFirstSelection",
      secondSelection: "getSecondSelection",
      binSize: "getBinSize",
      activePoints: "getActivePoints"
    }),

    activeMode: {
      get() {
        if (this.role === "firstSelection") {
          return this.firstSelection.mode
        } else {
          return this.secondSelection.mode
        }
      },
      set(value) {
        if (this.role === "firstSelection") {
          this.setFirstSelection({ mode: value })
        } else {
          this.setSecondSelection({ mode: value })
        }
      },
    },

    activeObject: {
      get() {
        if (this.role === "firstSelection") {
          return this.firstSelection.object
        } else {
          return this.secondSelection.object
        }
      },
      set(value) {
        if (this.role === "firstSelection") {
          this.setFirstSelection({ object: value })
        } else {
          this.setSecondSelection({ object: value })
        }
      },
    },

    listObjects: {
      get() {
        let storedSelection = 0
        if (this.role === "firstSelection") {
          storedSelection = this.firstSelection
        }
        if (this.role === "secondSelection") {
          storedSelection = this.secondSelection
        }

        let data = null
        let values = []

        switch (storedSelection.mode) {
          case 1:
            data = this.league[this.activeSeason]
            Object.keys(data).forEach((id) => {
              let item = data[id]
              if (item["rowSet"].length !== 0)
                values.push({
                  id: item["rowSet"][0][2],
                  name: item["rowSet"][0][3],
                })
            })
            return values
          case 2:
            data = this.teams[this.activeSeason]
            Object.keys(data).forEach((id) => {
              let team = data[id]
              if (team["rowSet"].length !== 0)
                values.push({
                  id: team["rowSet"][0][2],
                  name: team["rowSet"][0][3],
                })
            })
            return values
          case 3:
            data = this.players[this.activeSeason]
            Object.keys(data).forEach((id) => {
              let player = data[id]
              if (player["rowSet"].length !== 0)
                values.push({
                  id: player["rowSet"][0][0],
                  name: player["rowSet"][0][1],
                })
            })
            return values
          default:
            return []
        }
      },
    },

    dataGraph: {
      get() {
        let storedSelection = 0
        if (this.role === "firstSelection") {
          storedSelection = this.$store.getters["getFirstSelection"]
        }
        if (this.role === "secondSelection") {
          storedSelection = this.$store.getters["getSecondSelection"]
        }

        if (this.activeMode > 1 && !this.activeObject) return null

        let temp = null
        let modeData = []
        switch (storedSelection.mode) {
          case 1:
            temp = this.league[this.activeSeason]["rowSet"]
            modeData = this.jsonArrayToScatterData(temp)
            break
          case 2:
            temp = this.teams[this.activeSeason][this.activeObject]["rowSet"]
            modeData = this.jsonArrayToScatterData(temp)
            break
          case 3:
            temp = this.players[this.activeSeason][this.activeObject]["rowSet"]
            modeData = this.jsonArrayToScatterData(temp)
            break
          default:
            break
        }

        let colors = []
        let colorStart = [200, 100, 70] // #0077b3
        let colorEnd = [360, 72, 51]    // #ff4747
        let maxCount = 0

        modeData.forEach(item => {
          if (item.count > maxCount)
            maxCount = item.count
        })


        modeData.forEach(item => {
          let ratio = item.count / maxCount

          let h = ratio * (colorEnd[0] - colorStart[0]) + colorStart[0]
          let s = ratio * (colorEnd[1] - colorStart[1]) + colorStart[1]
          let l = ratio * (colorEnd[2] - colorStart[2]) + colorStart[2]

          colors.push(`hsl(${h}, ${s}%, ${l}%)`)
        })

        return {
          datasets: [
            {
              backgroundColor: colors,
              pointBackgroundColor: "white",
              borderWidth: 0,
              pointBorderColor: "#249EBF",
              data: modeData,
              pointStyle: 'rect'
            },
          ],
        }
      },
    },
  },
}
</script>

<style scoped>
.v-autocomplete {
  padding: 16px;
}
</style>