<template>
  <div class="mt-3">
      <h2 class="text-left mb-3">Distance view</h2>

        <LineChart
          class="align-center pa-0 align-center"
          :chartdata="this.dataGraph"
          :options="this.options"
          :height="150"
        />
  </div>
</template>

<script>

import LineChart from "@/components/charts/line"
import { mapGetters } from "vuex";

export default {
  name: "Statistics",

  components: { LineChart },

  props: ["role"],

  data: function () {
    return {
      options: {
        legend: { display: true },
        scales: {
          responsive: true,
          animation: { duration: 0 },

          yAxes: [{
            type: 'linear',
            ticks: {
              stepSize: 10000
            },
            scaleLabel: {
              display: true,
              labelString: "Number of shots"

            }
          }],
          xAxes: [{
            type: 'linear',
            gridLines: { display: false },
            ticks: {
              min: 0,
              max: 47,
              stepSize: 10
            },
            scaleLabel: {
              display: true,
              labelString: "Distance to the hoop (fts)"
            }

          }],
        },
        hover: { mode: null },
        tooltips: {
          callbacks: {
            label: function (ttItem, data) {
              let item = data.datasets[ttItem.datasetIndex].data[ttItem.index]
              return item.tooltip
            },
          },
        },
      }
    }
  },

  methods: {

    getMeanShotDistance: function (data) {
      let sumDistance = 0;
      let n = data.length;

      data.forEach((row) => {
        let x = row[4];
        let y = row[5];

        sumDistance += Math.sqrt(x * x + y * y);
      });

      return this.round_up(sumDistance / n, this.binSize) / 10;
    },

    getStoredSelection: function () {
      let storedSelection = 0;
      if (this.role === "firstSelection") {
        storedSelection = this.$store.getters["getFirstSelection"];
      }
      if (this.role === "secondSelection") {
        storedSelection = this.$store.getters["getSecondSelection"];
      }

      return storedSelection;
    },

    round_up: function (value, factor) {
      return Math.round(value / factor - 0.5) * factor
    },

    indexOfObject: function (obj, list) {
      for (let i = 0; i < list.length; i++) {
        if (list[i] == obj) {
          return i
        }
      }

      return -1
    },

    jsonArrayToList: function (data) {
      let list = []
      let temp_list = []
      let madeCounts = []
      let missedCounts = []

      data.forEach((row) => {
        let made = row[6]
        let distance = Math.sqrt(row[4] * row[4] + row[5] * row[5])
        let new_data = this.round_up(distance, this.binSize)

        let idx = this.indexOfObject(new_data, temp_list)
        if (idx != -1) {
          madeCounts[idx] += made
          missedCounts[idx] += 1 - made
        } else {
          temp_list.push(new_data)
          madeCounts.push(made)
          missedCounts.push(1 - made)
        }
      })


      temp_list.forEach((position, idx) => {
        let new_y = null
        if (this.activePoints === "total")
          new_y = madeCounts[idx] + missedCounts[idx]
        else
          new_y = madeCounts[idx]

        list.push({
          x: position / 10,
          y: new_y
        })
      })

      list.sort((a, b) => a.x - b.x)


      return list
    },
  },

  computed: {
    ...mapGetters({
      activeSeason: "getActiveSeason",
      players: "getPlayers",
      teams: "getTeams",
      league: "getLeagues",
      firstSelection: "getFirstSelection",
      secondSelection: "getSecondSelection",
      binSize: "getBinSize",
      activePoints: "getActivePoints"
    }),

    activeMode: {
      get() {
        if (this.role === "firstSelection") {
          return this.firstSelection.mode;
        } else {
          return this.secondSelection.mode;
        }
      },
      set(value) {
        if (this.role === "firstSelection") {
          this.setFirstSelection({ mode: value });
        } else {
          this.setSecondSelection({ mode: value });
        }
      },
    },


    activeObject: {
      get() {
        if (this.role === "firstSelection") {
          return this.firstSelection.object;
        } else {
          return this.secondSelection.object;
        }
      },
      set(value) {
        if (this.role === "firstSelection") {
          this.setFirstSelection({ object: value });
        } else {
          this.setSecondSelection({ object: value });
        }
      },
    },



    meanShotDistance: {
      get() {
        let storedSelection = this.getStoredSelection();
        let temp = null;
        let meanDistance = null;

        if (this.activeMode > 1 && this.activeObject == null)
          return meanDistance;

        switch (storedSelection.mode) {
          case 1:
            temp = this.league[this.activeSeason]["rowSet"];
            break;
          case 2:
            temp = this.teams[this.activeSeason][this.activeObject]["rowSet"];
            break;
          case 3:
            temp = this.players[this.activeSeason][this.activeObject]["rowSet"];
            break;
          default:
            break;
        }

        if (temp != null)
          meanDistance = this.getMeanShotDistance(temp).toFixed(2);

        return meanDistance;
      },
    },


    dataGraph: {
      get() {
        let storedSelection = this.getStoredSelection()

        if (this.activeMode > 1 && !this.activeObject) return null

        let temp = null
        let modeData = []
        switch (storedSelection.mode) {
          case 1:
            temp = this.league[this.activeSeason]["rowSet"]
            modeData = this.jsonArrayToList(temp)
            break
          case 2:
            temp = this.teams[this.activeSeason][this.activeObject]["rowSet"]
            modeData = this.jsonArrayToList(temp)
            break
          case 3:
            temp = this.players[this.activeSeason][this.activeObject]["rowSet"]
            modeData = this.jsonArrayToList(temp)
            break
          default:
            break
        }

        let maxVal = 0
        modeData.forEach((item) => {
          if (maxVal < item.y)
            maxVal = item.y
        })

        return {
          datasets: [
            {
              label: "Number of shots",
              showLine: false,
              data: modeData,
              backgroundColor: "#0077b3",
              pointRadius: 3
            },
            {
              label: "Mean value",
              showLine: true,
              data: [{ x: this.meanShotDistance, y: maxVal }, { x: this.meanShotDistance, y: 0 }],
              borderColor: "#c9082b55",
              borderWidth: 10,
              pointHitRadius: 0,
              pointRadius: 0
            },
          ],
        }
      },
    }



  },
}
</script>

