<template>
  <v-row class="mt-0">
    <v-col cols="12" md="10" offset-md="1">
      <div v-if="isRemoteDataLoaded">
        <router-view />
      </div>
      <div
          v-else
          class="mt-16">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
        Data are loading...
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "AppContent",

  computed: {
    // Getters for the Vuex data
    ...mapGetters({
      isRemoteDataLoaded: 'isRemoteDataLoaded',
    }),
  }
}
</script>

<style scoped>
</style>