<template>
  <!--  <v-navigation-drawer
      app
      clipped
      permanent
      hide-overlay
      :style="{ top: $vuetify.application.top + 'px', zIndex: 6 }"
  >-->
  <v-navigation-drawer app clipped permanent hide-overlay>
    <v-list nav dense>
      <v-list-item
        v-for="route in this.items"
        :key="route.path"
        link
        :to="route.path"
        @click="switchDrawer"
      >
        <v-list-item-icon>
          <v-icon>{{ route.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ route.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>

import { mapActions } from "vuex";

export default {
  components: {

  },
  name: 'AppDrawer',
  methods: {
    // Actions for the Vuex data
    ...mapActions([
      'switchDrawer'
    ]),
  },
  data() {
    return {
      /* Stores all computed menu items from the created() method
       * and is then displayed as links in the sidebar
       */
      items: [],
    }
  },
  created() {
    this.$router.options.routes.forEach(route => {
      if (route.props.display) {
        this.items.push({
          name: route.name,
          path: route.path,
          icon: "mdi-" + route.props.icon
        })
      }
    })
  }
}
</script>