<template>
  <v-app-bar app class="white--text" color="primary" clipped-left>
    <!--<v-row>
    <v-col
    cols="12"
    md="10"
    offset-md="1">
      <div
        col="10">-->

    <v-app-bar-nav-icon>
      <router-link to="/">
        <v-img :src="require('@/assets/logo.png')" max-height="40" contain />
      </router-link>
    </v-app-bar-nav-icon>

    <v-app-bar-nav-icon
      v-if="$isMobile()"
      color="white"
      @click.stop="switchDrawer"
    >
    </v-app-bar-nav-icon>

    <v-toolbar-title>
      <router-link to="/">NBA Stats</router-link>
    </v-toolbar-title>

    <v-spacer></v-spacer>
    <div v-for="route in this.items" :key="route.path">
      <v-btn v-if="!$isMobile()" text color="white" :to="route.path">
        <v-icon>{{ route.icon }}</v-icon>
        {{ route.name }}
      </v-btn>
    </div>
    <!--</div>
  </v-col>
</v-row>-->
  </v-app-bar>
</template>

<script>

import { mapActions } from 'vuex'

export default {
  name: 'AppMenu',
  // Used to display text into the navbar
  created() {
    /* Computing menu links with the routes declared in the Vue router,
     * depending of their display prop (true or false).
     */
    this.$router.options.routes.forEach(route => {
      if (route.props.display) {
        this.items.push({
          name: route.name,
          path: route.path,
          icon: "mdi-" + route.props.icon
        })
      }
    })
  },

  data() {
    return {
      /* Stores all computed menu items from the created() method
       * and is then displayed as links in the sidebar
       */
      items: [],
    }
  },
  methods: {
    // Actions for the Vuex data
    ...mapActions([
      'switchDrawer'
    ]),
  }
}
</script>

<style scoped>
.v-icon {
  margin-right: 10px;
}

.v-toolbar__title a {
  color: white !important;
  text-decoration: none !important;
}
</style>
