<template>
  <div id="app">
    <v-app>
      <v-overlay :value="isDrawerActive" z-index="4"> </v-overlay>
      <AppDrawer v-if="isDrawerActive"></AppDrawer>
      <AppMenu></AppMenu>
      <v-main class="white">
        <v-container fluid>
          <AppContent></AppContent>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>

import AppContent from '@/components/layout/AppContent.vue'
import AppMenu from '@/components/layout/AppMenu.vue'
import AppDrawer from '@/components/layout/AppDrawer.vue'

import { mapGetters, mapActions } from "vuex";

export default {
  name: 'App',
  components: {
    AppContent,
    AppMenu,
    AppDrawer,
  },
  computed: {
    // Getters for the Vuex data
    ...mapGetters({
      isDrawerActive: 'isDrawerActive',
      allSeasons: 'getSeasons'
    }),
  },

  methods: {
    ...mapActions([
      'initObjects',
      'fetchAllData',
    ]),
  },

  mounted() {
    this.initObjects()
    this.allSeasons.forEach(season => {
      this.fetchAllData(season)
    })
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
